button{
    font-size: 40px;
    padding: 20px;
    width: 80px;
    border-radius: 12px;
}
body{
    align-items: center;
    background-color: rgb(191, 219, 221);
}
table{
    border-spacing: 10px;
    border-radius: 30px;
    background-color: rgb(12, 10, 19);
}
input{
    width: 350px;
    height: 40px;
    border-radius: 12px;
    text-align: center ;
    font-size: larger;
}
tr{
    border-radius: 90px;
}